.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #EEF5FF;
  /* background: #343a40; */

}
.text-black {
  color: #333333;
}

.text-orange {
  color: #ea907a;
}

.bg-green {
  background: #4f8a8b;
}

.bg-yellow {
  background: #FDC006;
}

.bg-light {
  background:  #EEF5FF;
}

.bg-white {
  background: white;
}

.nav-link:hover {
  background: #FDC006;
}

footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.middle-box {
  width: 60%;
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  border-radius: 2%;
  border: 0;
  box-shadow: 0 5px 50px -12px rgba(0,0,0,.25);
}

.heading-box {
  margin: auto;
  border-radius: 2%;
  border: 0;
  box-shadow: 0 5px 50px -12px rgba(0,0,0,.25);
}

.fit {
  width: 60%;
}

/* EEF5FF */